<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="chilkat-win32" version="9.5.0.95" targetFramework="net45" requireReinstallation="true" />
  <package id="ClearScript.Installer" version="5.4.1.23392" targetFramework="net45" />
  <package id="ClearScript.V8" version="5.5.2" targetFramework="net45" />
  <package id="CommonServiceLocator" version="2.0.2" targetFramework="net45" requireReinstallation="true" />
  <package id="log4net" version="2.0.8" targetFramework="net40" requireReinstallation="true" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net45" />
  <package id="MvvmLightLibs" version="5.4.1.1" targetFramework="net45" />
  <package id="NUnit" version="3.11.0" targetFramework="net40" requireReinstallation="true" />
  <package id="Rebex.Common" version="5.0.7077" targetFramework="net45" requireReinstallation="true" />
  <package id="Rebex.Networking" version="5.0.7077" targetFramework="net45" requireReinstallation="true" />
  <package id="SmartThreadPool.dll" version="2.2.4" targetFramework="net40" requireReinstallation="true" />
  <package id="SuperSocket" version="1.6.6.1" targetFramework="net45" />
  <package id="websocket-sharp-with-proxy-support" version="1.9.1" targetFramework="net45" />
</packages>